/*!
 * Start Bootstrap - Agency v4.1.1 (https://startbootstrap.com/template-overviews/agency)
 * Copyright 2013-2018 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-agency/blob/master/LICENSE)
 */

/*
  Lista de cores do site:

  vermelho    #30A9DE
  Cinza       #C5C6B6
  Verde       #AACD6E
  Preto       #3C3530

 */

body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgb(60,53,48)!important;
}

p {
  line-height: 1.55;
}

a {
  color: #30A9DE;
}

a:hover {
  color: #30A9DE;
}

.text-primary {
  color: #30A9DE !important;
}

h1.section-title {
  background: #000;
  color: #FFF;
  display: inline-block;
  font-size: 3.4285714286em;
  padding: 8px 18px;
}

.event {
  margin-bottom: 30px;
  padding: 60px;
  display: -ms-flexbox;
  display: flex;
  background-color: #000;
}
.event .event-date {
  font-family: Permanent Marker,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 1.7142857143em;
  font-weight: 700;
  -ms-flex: 0 1;
  flex: 0 1;
}
.event-title {
  padding: 0 60px;
  -ms-flex: auto 1;
  flex: auto 1;
}
.event .event-title h2 {
  font-size: 1.72em;
  color: #FFF;
}

.event .event-title h6 {
  font-size: .8em;
  color: #FFF;
}

.event .event-title a {
  color: #FFF;
}

.event-links a {
  background-color: #FFF;
  color: #000;
  font-weight: 500;
}

.event .event-title span {
  display: block;
  font-size: .75em;
}
.event .event-title a {
  display: inline-block;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: .8571428571em;
  font-weight: 600;
  margin-top: 10px;
  text-decoration: none!important;
  transition: all .2s linear;
}
.modal-content {
  -webkit-box-shadow: 0 5px 15px rgba(0,0,0,.5);
  box-shadow: 0 5px 15px rgba(0,0,0,.5);
}
.modal-content .modal-body {
  padding: 50px 10px;
}
.modal-content .modal-footer {
  border: none;
  padding: 0 0 80px;
  text-align: center;
}
.modal-content .modal-body .modal-title {
  margin-bottom: 60px;
  text-align: center;
  margin: 0;
  line-height: 1.42857143;
}
.modal-content h3 {
  border-bottom: 1px solid #262626;
  color: #FFF;
}

.event-date {
  color:#ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section {
  padding: 100px 0;
}

section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

section h3.section-subheading {
  font-size: 16px;
  font-weight: 400;
  font-style: italic;
  margin-bottom: 75px;
  text-transform: none;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.btn {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
}

::-moz-selection {
  background: #30A9DE;
  text-shadow: none;
}

::selection {
  background: #30A9DE;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

.img-custom {
  width: 35px;
}

.fadeMenuOpen {
  background-color: rgba(33,37,41,0.9)!important;
}

#mainNav {
  background-color: #212529;
}

#mainNav .navbar-toggler {
  font-size: 12px;
  right: 0;
  padding: 13px;
  text-transform: uppercase;
  color: white;
  border: 0;
  background-color: #30A9DE;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#mainNav .navbar-brand {
  color: #30A9DE;
  font-family: 'Kaushan Script', 'Helvetica Neue', Helvetica, Arial, cursive;
}

#mainNav .navbar-brand.active, #mainNav .navbar-brand:active, #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #fec503;
}

#mainNav .navbar-nav .nav-item .nav-link {
  font-size: 90%;
  font-weight: 600;
  padding: 0.75em 0;
  letter-spacing: 1px;
  color: rgb(60,53,48);
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#mainNav.navbar-shrink .navbar-nav .nav-item .nav-link {
  color: #FFF;
}

#mainNav .navbar-nav .nav-item .nav-link.active, #mainNav .navbar-nav .nav-item .nav-link:hover {
  color: #30A9DE;
}

.btn-custom {
  background-color: #E53A40;
  border-color: #E53A40;
  color: #FFF;
}

.btn-custom:hover, .btn-custom:active, .btn-custom:focus {
  background-color: #F16B6F;
  border-color: #F16B6F;
  color: #FFF;
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    background-color: rgba(0,0,0,0.1);
  }
  #mainNav .navbar-brand {
    font-size: 1.75em;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  #mainNav .navbar-nav .nav-item .nav-link {
    padding: 1.1em 1em !important;
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba(33,37,41,0.9);
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.25em;
    padding: 12px 0;
  }
}

header.masthead {
  height: 100vh;
  max-height: 1000px;
  background-image: url("/assets/images/banner/logo-banner.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 15%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header.masthead .intro-text {
  padding-top: 150px;
  padding-bottom: 100px;
}

header.masthead .intro-text .intro-lead-in {
  font-size: 22px;
  font-style: italic;
  line-height: 22px;
  margin-bottom: 25px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header.masthead .intro-text .intro-heading {
  font-size: 50px;
  font-weight: 700;
  line-height: 50px;
  margin-bottom: 25px;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
  header.masthead .intro-text {
    padding-top: 400px;
    padding-bottom: 200px;
  }
  header.masthead .intro-text .intro-lead-in {
    font-size: 40px;
    font-style: italic;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
  header.masthead .intro-text .intro-heading {
    font-size: 75px;
    font-weight: 700;
    line-height: 75px;
    margin-bottom: 50px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }
}

.service-heading {
  margin: 15px 0;
  text-transform: none;
}

.portfolio-caption {
  padding-top: 20px;
}

#portfolio .portfolio-item {
  right: 0;
  margin: 0 0 15px;
}

#portfolio .portfolio-item .portfolio-link {
  position: relative;
  display: block;
  max-width: 400px;
  margin: 0 auto;
  cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background: rgba(254, 209, 54, 0.9);
}

.portfolio-item {
  overflow: hidden;
  position: relative;
}

a.portfolio-link .img-fluid:hover {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
  font-size: 20px;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 20px;
  margin-top: -12px;
  text-align: center;
  color: white;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
  margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#portfolio .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
  margin: 0;
}

#portfolio .portfolio-item .portfolio-caption {
  max-width: 400px;
  margin: 0 auto;
  padding: 25px;
  text-align: center;
  background-color: #fff;
}

#portfolio .portfolio-item .portfolio-caption h4 {
  margin: 0;
  text-transform: none;
}

#portfolio .portfolio-item .portfolio-caption p {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#portfolio * {
  z-index: 2;
}

@media (min-width: 767px) {
  #portfolio .portfolio-item {
    margin: 0 0 30px;
  }
}

.portfolio-modal {
  padding-right: 0px !important;
}

.portfolio-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.portfolio-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.portfolio-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.portfolio-modal .modal-content p {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
  font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.portfolio-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
  margin-bottom: 30px;
}

.portfolio-modal .modal-content button {
  cursor: pointer;
  margin-right: 30px;
}

.portfolio-modal .close-modal {
  position: absolute;
  top: 15px;
  right: 30px;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: transparent;
}

.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 25px;
  margin-left: 17px;
  margin-top: 7px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #212529;
}

.portfolio-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 25px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #212529;
}

.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

.timeline:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  content: '';
  background-color: #e9ecef;
}

.timeline > li {
  position: relative;
  min-height: 50px;
  margin-bottom: 50px;
}

.timeline > li:after, .timeline > li:before {
  display: table;
  content: ' ';
}

.timeline > li:after {
  clear: both;
}

.timeline > li .timeline-panel {
  position: relative;
  float: right;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li .timeline-image {
  position: absolute;
  z-index: 100;
  left: 0;
  width: 80px;
  height: 80px;
  margin-left: 0;
  text-align: center;
  color: white;
  border: 7px solid #e9ecef;
  border-radius: 100%;
  background-color: #30A9DE;
}

.timeline > li .timeline-image h4 {
  font-size: 10px;
  line-height: 14px;
  margin-top: 12px;
}

.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

.timeline > li:last-child {
  margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top: 0;
  color: inherit;
}

.timeline .timeline-heading h4.subheading {
  text-transform: none;
}

.timeline .timeline-body > ul,
.timeline .timeline-body > p {
  margin-bottom: 0;
}

.card-shadow {
  box-shadow: none;
  width: 16em;
  -webkit-transition: box-shadow .25s ease-in-out;
  -moz-transition: box-shadow .25s ease-in-out;
  -ms-transition: box-shadow .25s ease-in-out;
  -o-transition: box-shadow .25s ease-in-out;
  transition: box-shadow .25s ease-in-out;
}

.card-shadow:hover {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.close-modal {
  z-index: 999;
}

.card-img {
	min-height: 30vh;
}

.card-text {
	min-height: 20vh;
}

@media (max-width: 767px) {
  #img-banner-menu {
    display: none;
  }
  .container-mobile {
    display: flex;
    flex-direction: column-reverse;
  }
  .portfolio-modal .modal-content {
    padding: 20px 0px 40px 0px;
  }
  .box-contact-us-right {
    margin-bottom: 3em;
  }
  section {
    padding: 30px 0px;
  }

  #mainNav {
    background-color: transparent;
  }

  #mainNav .navbar-nav .nav-item .nav-link {
    color: white;
  }

  .card-shadow {
    width: 100%;
    margin-top: 3em;
  }

  .event {
    display: flex !important;
    flex-direction: column;
    padding: 20px;
  }

  .box-contact-us-right {
    margin-top: 3em;
  }

  .box-contact-us-right {
    padding: 20px !important;
  }

  .box-contact-us h5 {
    font-size: 1rem;
  }

  #featureVideos {
    padding: 10px 0px;
  }

  .section-header h1 {
    font-size: 3em;
  }

  .event-title {
    padding: 20px 0px;
  }

  .event-title h2 {
    font-size: 1em;
  }

  .portfolio-modal .modal-content h2 {
    font-size: 2em;
  }

  header.masthead {
    background-size: 100%;
    background-position: top;
    height: auto;
  }

  section h2.section-heading {
    font-size: 2em;
  }
}

@media (max-width: 767px) and (orientation: landscape) {
  header.masthead {
    background-size: 100%;
    background-position: top;
    height: auto;
  }
}

@media (min-width: 768px) {
  #mainNav {
    background-color: transparent;
  }
  header.masthead {
    background-size: 100%;
    background-position: top;
    height: 440px;
  }
  .card-shadow {
    width: 100%;
  }
  .timeline:before {
    left: 50%;
  }
  .timeline > li {
    min-height: 100px;
    margin-bottom: 100px;
  }
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    line-height: 18px;
    margin-top: 16px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}

@media (min-width: 992px) {
  #mainNav {
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    border: none;
    font-weight: 600;
    background-color: transparent;
  }
  header.masthead {
    background-size: 100%;
    background-position: top;
    height: 600px;
  }
  .timeline > li {
    min-height: 150px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }
  .timeline > li .timeline-image h4 {
    font-size: 18px;
    line-height: 26px;
    margin-top: 30px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}

@media (min-width: 1200px) {
  header.masthead {
    background-size: cover;
    background-position: 50% 15%;
    height: 100vh;
  }
  .timeline > li {
    min-height: 170px;
  }
  .timeline > li .timeline-panel {
    padding: 0 20px 20px 100px;
  }
  .timeline > li .timeline-image {
    width: 170px;
    height: 170px;
    margin-left: -85px;
  }
  .timeline > li .timeline-image h4 {
    margin-top: 40px;
  }
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 100px 20px 20px;
  }
}

.team-member {
  margin-bottom: 50px;
  text-align: center;
}

.team-member img {
  width: 225px;
  height: 225px;
  border: 7px solid #fff;
}

.team-member h4 {
  margin-top: 25px;
  margin-bottom: 0;
  text-transform: none;
}

.team-member p {
  margin-top: 0;
}

.w-video {
  width: 100%;
  position: relative;
  padding: 0;
}

.w-embed:before, .w-embed:after {
  content: " ";
  display: table;
}

.w-video iframe, .w-video object, .w-video embed {
  top: 0;
  left: 0;
  width: 100vw;
  height: calc(100vw/1.77);
}

.w-embed:after {
  clear: both;
}

.box-contact-us-right {
  padding: 40px 20px 40px 40px;
  background-color: #e5e5e5e5;
  border-radius: 15px;
}

a.text-body:hover {
  text-decoration: none;
  color: #6c757d!important;
}

.box-contact-us:hover .fa-whatsapp {
  color: #25d366;
}

.box-contact-us:hover .fa-envelope, a.text-body.text-custom-email:hover {
  color: #00a1f1;
}

.box-contact-us .fa-whatsapp, .box-contact-us .fa-envelope {
  -webkit-transition: color .15s ease-in-out;
  -moz-transition: color .15s ease-in-out;
  -ms-transition: color .15s ease-in-out;
  -o-transition: color .15s ease-in-out;
  transition: color .15s ease-in-out;
}

.fab-icon-custom-footer {
  color: #212529;
}


section#contact .section-heading {
  color: #fff;
}

section#contact .form-group {
  margin-bottom: 25px;
}

section#contact .form-group input,
section#contact .form-group textarea {
  padding: 20px;
}

section#contact .form-group input.form-control {
  height: auto;
}

section#contact .form-group textarea.form-control {
  height: 248px;
}

section#contact .form-control:focus {
  border-color: #30A9DE;
  box-shadow: none;
}

section#contact ::-webkit-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 18- */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact ::-moz-placeholder {
  font-weight: 700;
  color: #ced4da;
  /* Firefox 19+ */
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

section#contact :-ms-input-placeholder {
  font-weight: 700;
  color: #ced4da;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer {
  padding: 15px 0;
  text-align: center;
  background-color: #212529;
}

footer span.copyright {
  font-size: 90%;
  line-height: 40px;
  text-transform: none;
  color: #FFF;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

footer ul.quicklinks {
  font-size: 90%;
  line-height: 40px;
  margin-bottom: 0;
  text-transform: none;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

ul.social-buttons {
  margin-bottom: 0;
}

ul.social-buttons li a {
  font-size: 20px;
  line-height: 40px;
  display: block;
  width: 40px;
  height: 40px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
  border-radius: 100%;
  outline: none;
  background-color: #212529;
}

ul.social-buttons li.list-inline-item-bottom a {
  background-color: #FFFFFF;
}

ul.social-buttons li a:active, ul.social-buttons li a:focus, ul.social-buttons li a:hover {
  background-color: #FFF;
}

ul.social-buttons li a:hover .fab.fa-facebook-square{
  color: #29487d;
}

ul.social-buttons li a:hover .fab.fa-instagram {
  color: #d6249f;
}

ul.social-buttons li a:hover .fab.fa-youtube {
  color: #cc181e;
}

/*Carousell CSS*/
